.wrapper {
	color: var(--mantine-color-dimmed);
	font-family: monospace;
	font-size: 0.75rem;
	margin-bottom: var(--mantine-spacing-md);

	a {
		line-height: 1rem;
		text-decoration: none;

		&:visited {
			color: inherit;
		}

		&:hover {
			color: var(--mantine-color-text);
		}
	}
}
