public/* filter=lfs diff=lfs merge=lfs -text
public/**/* filter=lfs diff=lfs merge=lfs -text
src/content/* filter=lfs diff=lfs merge=lfs -text
src/content/**/* filter=lfs diff=lfs merge=lfs -text
src/content/*.ts !text -filter -merge -diff
