.wrapper {
	color: var(--mantine-color-dimmed);
	display: flex;
	flex-wrap: wrap;
	gap: var(--mantine-spacing-md);
	margin-top: 4rem;
	padding: 0 var(--mantine-spacing-md);

	a {
		font-family: monospace;
		text-decoration: none;

		&:visited {
			color: inherit;
		}

		&:hover {
			color: var(--mantine-color-text);
		}
	}

	div {
		min-width: 288px;
	}

	.branding {
		margin-top: 0;

		.logo {
			font-weight: bolder;
		}
	}

	.section {
		margin-top: 2rem;

		ul {
			list-style-type: none;
			padding-left: 0;
		}
	}
}
