.wrapper {
	color: var(--mantine-color-dimmed);
	margin-top: 4rem;
	padding: 0 var(--mantine-spacing-md);

	a {
		color: var(--mantine-color-dimmed);
		font-family: monospace;
		text-decoration: none;

		&:link {
			color: var(--mantine-color-dimmed);
		}

		&:visited {
			color: var(--mantine-color-dimmed);
		}

		&:hover {
			color: var(--mantine-color-text);
		}
	}

	.branding {
		height: var(--mantine-line-height);
		margin-top: 0;

		.logo {
			font-weight: bolder;
			margin-bottom: 1rem;
		}
	}

	.sections {
		display: grid;
		font-size: 0.75rem;
		gap: var(--mantine-spacing-md);

		@media (min-width: mantine.$mantine-breakpoint-xs) {
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: mantine.$mantine-breakpoint-sm) {
			grid-template-rows: initial;
			grid-template-columns: repeat(3, 1fr);
		}

		.section {
			@media (min-width: mantine.$mantine-breakpoint-xs) {
				&:first-child {
					grid-column-end: 3;
					grid-column-start: 1;
				}
			}

			@media (min-width: mantine.$mantine-breakpoint-sm) {
				&:first-child {
					grid-column-end: initial;
					grid-column-start: initial;
				}
			}

			ul {
				list-style-type: none;
				padding-left: 0;
			}

			ul.icons {
				display: flex;
				gap: var(--mantine-spacing-xs);
				flex-wrap: wrap;
				list-style-type: none;
				padding-left: 0;

				:global(.social-svg) {
					filter: saturate(0);
					opacity: 35%;

					&:hover {
						filter: none;
						opacity: 100%;
					}
				}
			}
		}
	}
}
