.wrapper {
	color: var(--mantine-color-dimmed);
	margin-top: 4rem;
	padding: 0 var(--mantine-spacing-md);

	a {
		color: var(--mantine-color-dimmed);
		font-family: monospace;
		text-decoration: none;

		&:link {
			color: var(--mantine-color-dimmed);
		}

		&:visited {
			color: var(--mantine-color-dimmed);
		}

		&:hover {
			color: var(--mantine-color-text);
		}
	}

	div {
		min-width: 288px;
	}

	.branding {
		height: var(--mantine-line-height);
		margin-top: 0;

		.logo {
			font-weight: bolder;
			margin-bottom: 1rem;
		}
	}

	.sections {
		display: flex;
		flex-wrap: wrap;
		font-size: 0.75rem;
		gap: var(--mantine-spacing-md);

		.section {
			flex: 1;

			ul {
				list-style-type: none;
				padding-left: 0;
			}

			ul.icons {
				display: flex;
				gap: var(--mantine-spacing-xs);
				flex-wrap: wrap;
				list-style-type: none;
				padding-left: 0;

				:global .social-svg {
					filter: saturate(0);
					opacity: 35%;

					&:hover {
						filter: none;
						opacity: 100%;
					}
				}
			}
		}
	}
}
