.wrapper {
	:global(.mantine-Drawer-content) {
		background: var(--mantine-color-dark-9);
		// overflow-y: hidden;
		text-align: center;

		:global(.flex) {
			justify-content: center;
			margin-top: 1rem;
		}
	}
}
