@mixin default {
	margin-bottom: var(--mantine-spacing-md);
	margin-left: calc(var(--mantine-spacing-md) * -1);
	margin-right: calc(var(--mantine-spacing-md) * -1);
	min-height: calc(100vw / 4);
	position: relative;

	img {
		filter: saturate(50%);
		object-fit: cover;
		opacity: 50%;
		position: absolute;
		z-index: -1;
	}
}
