@use "sass:selector";

.wrapper {
	@at-root [data-mantine-color-scheme="light"] & {
		background-color: var(--mantine-color-gray-3);
	}

	&:hover {
		.section {
			opacity: 100%;
		}
	}

	h2 {
		a {
			color: var(--mantine-color-text);
			text-decoration: none;

			&:visited {
				color: inherit;
			}
		}
	}

	.section {
		aspect-ratio: 2/1;
		margin-bottom: var(--mantine-spacing-sm);
		opacity: 75%;
		position: relative;

		img {
			object-fit: cover;
		}
	}
}

