.wrapper {
	position: relative;

	.copyBtn {
		height: 2rem;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 2rem;
	}
}

.popOver {
	font-family: monospace;
	font-size: 0.66rem;
	text-align: center;
}
